.pageChild p{
    margin-left: 40px;
    margin-top: 5px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px;
    text-align: justify;
}
.pageChild p{
    font-size: 15px;
    text-indent: 2em;
    line-height: 30px;
}
.pageChild p:hover{
    font-weight: bold;
    transition: .5s;
}
.pageChild a{
    color: white;
    text-decoration: none;
}
#development-period{
    font-size: 12px;
    margin-left: 20px;
}
.period p{
    font-size: 15px;
    text-indent: 2em;
    line-height: 30px;
}
#nav-top {
    position: sticky;
    top: 0px;
}
.pageChild video{
    width: 100%;
}
