h2{
    margin: 10px;
}
.features-div p{
    margin-top: 10px;
    margin-left: 40px;
    font-size: 15px;
    line-height: 20px;
    text-indent: 2em;
    text-align: justify;
}
.features-div span{
    font-size: 15px;
}